.shoppingheader {
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    padding-top: 20px;

}

.shoppingbody {
    background-color: #dfdfdf;
    position: absolute;
    top: 80px;
    height: auto;
    min-height: 800px;
    width: 100%;
}

.shoppingbody-box {
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    left: 400px;
    top: 20px;
    width: 1000px;
    height: auto;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.shoppingbody-box-header {
    width: 1000px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.shopping-car {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.goodsnum {
    display: inline-block;
    width:60%;
    text-align: right;
}
.goods-account{
    display: inline-block;
    width:80%;
    text-align: right;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: #d6d6d6;
    color: rgb(18, 34, 34);
}
.goods-account:hover{
    color: rgb(240, 127, 75);
}
.good-box {
    width: 900px;
    height: 150px;
    border-radius: 15px;
}